[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/vim-floaterm"]
	path = bundle/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
  branch = release
[submodule "bundle/vim-transparent"]
	path = bundle/vim-transparent
	url = https://github.com/tribela/vim-transparent.git
